In [9]:
import pandas as pd
balanced_labels = pd.read_csv('../all_models_combine/chosen_labels_all.csv', sep=';',index_col=False)
predictions_labels = pd.read_csv("../all_models_combine/predicted_labels_all.csv", sep=";", index_col=False)

In [16]:
balanced_labels	.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000,1181.000000
mean,0.243861,0.306520,0.257409,0.156647,0.265030,0.423370,0.167655,0.205758
std,0.429592,0.461244,0.437392,0.363622,0.441536,0.494302,0.373717,0.404426
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df_filtered = balanced_labels[balanced_labels['Image_name'].isin(predictions_labels['Image_name'])].drop_duplicates(subset=['Image_name'],keep="first")
predictions_labels=predictions_labels.drop_duplicates(subset=['Image_name'],keep="first")

In [12]:
df_filtered.describe()

,Rule1,Rule2,Rule3,Rule4,Rule5,Rule6,Rule7,Rule8
count,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000,594.000000
mean,0.156566,0.234007,0.173401,0.052189,0.170034,0.345118,0.060606,0.114478
std,0.363697,0.423733,0.378912,0.222595,0.375979,0.475807,0.238807,0.318659
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
tn = 0
fp = 0
fn = 0
tp = 0

for index, row in df_filtered.iterrows():
    image = row['Image_name']
    
    # Extrahiere die tatsächlichen Werte ab der zweiten Spalte
    actual_value_list = row[1:]
    if all(x == 0 for x in actual_value_list):
        actual_value = 0
    else:
        actual_value = 1

    # Finde die Vorhersagezeile für das Bild
    predicted_row = predictions_labels[predictions_labels["Image_name"] == image]
    
    if not predicted_row.empty:
        # Extrahiere die vorhergesagten Werte ab der zweiten Spalte
        predicted_value_list = predicted_row.iloc[0, 1:]
        
        if all(x == 0 for x in predicted_value_list):
            predicted_value = 0
        else:
            predicted_value = 1

        # Aktualisiere die Zähler basierend auf den tatsächlichen und vorhergesagten Werten
        if actual_value == 0 and predicted_value == 0:
            tn += 1
        elif actual_value == 0 and predicted_value == 1:
            fp += 1
        elif actual_value == 1 and predicted_value == 0:
            fn += 1
        elif actual_value == 1 and predicted_value == 1:
            tp += 1
        else:
            print("komisch")
    else:
        print(f"Keine Vorhersage für Bild: {image}")

print(f"TN: {tn}, FP: {fp}, FN: {fn}, TP: {tp}")

TN: 10, FP: 125, FN: 30, TP: 429

In [14]:
err = (fp+fn)/(tp+tn+fn+fp)
print(err)

0.2609427609427609

In [15]:
acc = (tp+tn)/(tp+tn+fn+fp)
print(acc)

0.7390572390572391